body,
html {
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    max-width: 767px;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    /* 세로 정렬을 수행합니다. */
    align-items: center;
    justify-content: center;
    height: 500px;
}

.logo-container {
    margin-bottom: 100px;
    /* 로고 아래에 간격을 줍니다. */
}

.kakao-logo-container {
    height: 30px;
    margin-bottom: 10px;
    /* 카카오 로고 아래에 간격을 줍니다. */
}

.kakao-login-btn {
    display: flex;
    align-items: center;
    background-color: #FEE500;
    color: #3E2723;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.kakao-logo {
    width: 30px;
    margin-right: 10px;
    margin-top: 5px;

}

.logo {
    width: 200px;
}