{% extends "00mapBase.html" %}
{% load static %}
{% block script %}
   
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type = "text/css">
    <link rel="stylesheet" href="{% static 'css/searchResult.css' %}">
    <link rel="stylesheet" href="{% static 'css/abortRecord.css' %}">

{% endblock %}

{% block content %}


    <div class="search_result unactive">
 
    </div>

    <div class="placeInfo unactive">
        <div class="downbar"></div>
        <div class="placeName"></div>
        <div class="detailInfo">
            <div class="tel">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="addr">
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <div class="naviBtn">
            <div class="naviBtnItem startPointBtn">출발지로 설정</div>
            <div class="naviBtnItem endPointBtn">도착지로 설정</div>
        </div>
    </div>

{% endblock %}

{% block content2 %} 
    <div class="backgroundBlur unactive">
        <div class="lowData unactive">
            <div class="lowDataContent">
                데이터가 부족해요!
                <img class="lowDataImg" src="{% static 'img/부족이모티콘.png' %}">
                <div class="lowDataContentTxt"><br>해당 지역의 휠체어 기록이 
                    <span class="dataCount1">36</span>
                    개 있습니다 <br>
                    당신의 기록으로 내비게이션을 완성해주세요.
                </div>
                <div style="display: flex; justify-content: center; align-items: center; margin: 1rem;">
                    <img class="coinImg" src="{% static 'img/코인.png' %}">
                    <span class="coin1">240</span>
                </div>
                <div class="naviDataCautionBtn1">
                    <div class="naviDataCautionBtn_Start1">일반 경로 안내받기</div>
                    <div class="naviDataCautionBtn_Record1">이동 경로 기록하기</div>
                </div>
            </div>
        </div>

        <div class="iffyData unactive">
            <div class="iffyDataContent">
                데이터가 애매해요!
                <img class="iffyDataImg" src="{% static 'img/애매이모티콘.png' %}">
                <div class="iffyDataContentTxt"><br>해당 지역의 휠체어 기록이 
                    <span class="dataCount2">98</span>
                    개 있습니다 <br>
                    완전한 휠체어 내비게이션을 위해서 <br>
                    당신의 기록을 주세요!
                </div>
                <div style="display: flex; justify-content: center; align-items: center; margin: 1rem;">
                    <img class="coinImg" src="{% static 'img/코인.png' %}">
                    <span class="coin2">240</span>
                </div>
                <div class="naviDataCautionBtn2">
                    <div class="naviDataCautionBtn_Start2">일반 경로 안내받기</div>
                    <div class="naviDataCautionBtn_Record2">이동 경로 기록하기</div>
                    <div class="naviDataCautionBtn_RecordNavi1">기록하면서 경로 안내받기</div>
                </div>
            </div>
        </div>

        <div class="enoughData unactive">
            <div class="enoughDataContent">
                데이터가 충분해요!
                <img class="enoughDataImg" src="{% static 'img/충분이모티콘.png' %}">
                <div class="enoughDataContentTxt"><br>해당 지역의 휠체어 기록이 
                    <span class="dataCount3">1,234</span>
                    개 있습니다 <br>
                    더 완벽한 내비게이션을 위해 <br>
                    당신의 이동 경로를 기록해 주세요.
                </div>
                <div style="display: flex; justify-content: center; align-items: center; margin: 1rem;">
                    <img class="coinImg" src="{% static 'img/코인.png' %}">
                    <span class="coin3">240</span>
                </div>
                <div class="naviDataCautionBtn3">
                    <div class="naviDataCautionBtn_Start3">일반 경로 안내받기</div>
                    <div class="naviDataCautionBtn_RecordNavi2">기록하면서 경로 안내받기</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottomBar %}
    <div class="bottomBar unactive">
        <div class="functionInfo">
            <div class="fuctionDataRecord unactive">
                <img class="fuctionDataRecordImg" src="{% static 'img/데이터기록.png' %}">
                <div class="fuctionDataRecordTxt">데이터 기록</div>
            </div>
            <div class="functionRoadNavi unactive">
                <img class="functionRoadNaviImg" src="{% static 'img/시간.png' %}">
                <div class="functionRoadNaviTxt">휠체어 경로 안내</div>
            </div>
            <div class="funcitonArriveTime unactive">
                <div class="funcitonArriveTimeContent">
                    <img class="funcitonArriveTimeImg" src="{% static 'img/타이머.png' %}">
                    <div class="funcitonArriveTimeValue">18</div>
                    분
                </div>
                <div class="funcitonArriveTimeTxt">도착 예상 시간</div>
            </div>
            <div class="functionGetCoin unactive">
                <div class="functionGetCoinContent">
                    <img class="functionGetCoinImg" src="{% static 'img/코인.png' %}">
                    <span class="functionGetCoinValue">180</span>
                </div>
                <div class="functionGetCoinTxt">획득 예상 코인</div>
            </div>
        </div>
        <div class="startBtn">
            시작하기
        </div>
    </div>
{% endblock %}


{% block abortRecord %}
    <div class="abortRecordBackgroundBlur unactive">
        <div class="abortRecord">
            <div class="abortRecordTxtTitle">
                내비게이션 중단
            </div>
            <div class="abortRecordTxtContent">
                경로 기록과 내비게이션을 중단 하시겠습니까?
            </div>
            <div class="abortRecordBtn">
                <div class="abortRecordDeleteAbortBtn">
                    기록 삭제하고 중단하기
                </div>
                <div class="abortRecordSaveAbortBtn">
                    기록 저장하고 중단하기
                </div>
                <div class="abortRecordBackBtn">
                    돌아가기
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block resultBoard %}
<div class="resultBoard unactive">
    <div class="drag_bar"></div>
    <div class="result_summary">

        <!-- 데이터 상태 -->
        <div class="result_summary_item data_valid">
            <div class="data_valid_text">데이터 상태</div>
            <div class="data_valid_item data_item"></div>
        </div>

        <!-- 이동시간 -->
        <div class="result_summary_item data_time">
            <div class="data_time_text">이동 시간</div>
            <div class="data_time_item data_item"></div>
        </div>
        
        <!-- 이동 거리 -->
        <div class="result_summary_item data_distance">
            <div class="data_distance_text">이동 거리</div>
            <div class="data_distance_item data_item"></div>
        </div>

        <!-- 획득 코인 -->
        <div class="result_summary_item data_coin">
            <div class="data_coin_text">획득 코인</div>
            <div class="data_coin_item data_item"></div>
        </div>
    </div>

    <div class="result_content">
        <div class="result_content_title"> 
            <div class="result_left_arrow"><i class="fa-solid fa-caret-left"></i></div>
            <div class="result_title_text">마킹지역</div> 
            <div class="result_right_arrow"><i class="fa-solid fa-caret-right"></i></div>
        </div>
        
        <div class="marking_content">
            <div class="marking_state">

                
            </div>
            <div class="marking_state_page">
                    
            </div>
        </div>

        <div class="compare_time">

        </div>
    </div>
</div>
{% endblock %}

{% block writeMarking %}
<div class="marking_write_board unactive">
    <div class="marking_write_title"></div>
    <textarea  class="marking_write_content"></textarea>
    <div class="marking_write_btns">
        <div class="marking_write_cancle_btn">작성 취소</div>
        <div class="marking_write_submit_btn">작성 완료</div>
    </div>
</div>
{% endblock %}

{% block naviFooter %}
<div class="navi_footer">
    <div class="drag_bar"></div>

    <div class="navi_footer_content">    
        <div class="navi_tools_btns">
            <!-- 중단 버튼 -->
            <div class="navi_tools_btns_item navi_terminate_btn">
                <i class="fa-solid fa-ban" style="margin-right: 1rem;"></i>
                <div class="navi_terminate_btn_text">중단</div>
            </div>
            <!-- 마킹 버튼 -->
            <div class="navi_tools_btns_item navi_marking_btn">
                <i class='fa-solid fa-thumbtack' style="margin-right: 1rem;"></i>
                <div class="navi_marking_btn_text">마킹 하기</div>
            </div>
        </div>

        <!-- 도착 버튼 -->
        <div class="arrive_btn">
            <div class="arrive_btn_icon">
                <i class="fa-regular fa-flag"></i>
            </div>
            <div class="arrive_btn_text">
                도착
            </div>
        </div>
    </div>
</div>
{% endblock %}