{% extends "00mapBase.html" %}
{% load static %}
{% block script %}
   
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type = "text/css">
    <script src = "base.js"></script>
    <script src = "navi.js"></script>

{% endblock %}

{% block content %}


    <div class="search_result unactive">
 
    </div>
    


    <div class="placeInfo unactive">
        <div class="downbar"></div>
        <div class="placeName"></div>
        <div class="detailInfo">
            <div class="tel">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="addr">
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <div class="naviBtn">
            <div class="naviBtnItem startPointBtn">출발지로 설정</div>
            <div class="naviBtnItem endPointBtn">도착지로 설정</div>
        </div>
    </div>

{% endblock %}

{% block content2 %} 
    <div class="backgroundBlur unactive">
        <div class="lowData unactive">
            <div class="lowDataContent">
                데이터가 부족해요!
                <img class="lowDataImg" src="{% static 'img/부족이모티콘.png' %}">
                <div class="lowDataContentTxt"><br>해당 지역의 휠체어 기록이 
                    <span class="dataCount">36</span>
                    개 있습니다 <br>
                    당신의 기록으로 내비게이션을 완성해주세요.
                </div>
                <div style="display: flex; justify-content: center; align-items: center; margin: 1rem;">
                    <img class="coinImg" src="{% static 'img/코인.png' %}">
                    <span class="coin">240</span>
                </div>
                <div class="naviDataCautionBtn">
                    <div class="naviDataCautionBtn_Start">일반 경로 안내받기</div>
                    <div class="naviDataCautionBtn_Record">이동경로 기록하기</div>
                </div>
            </div>
        </div>

        <div class="iffyData">

        </div>

        <div class="fullData">
            
        </div>
    </div>
{% endblock %}
