{% extends "00mapBase.html" %}
{% load static %}
{% block script %}
   
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type = "text/css">
    <script src= "{% static 'js/search.js' %}"></script>
    
{% endblock %}

{% block content %}
    <div class="searchBlock" style="width: 100px; height:300px; border: 1px solid red; position: relative; z-index: 1;">

    </div>
    <div class="placeInfo">
        <div class="placeInfoDetail">
            <!-- 끄티식당 -->
        </div>
    </div>
{% endblock %}

