{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}?after" type="text/css">
    <script type="module" src="../static/js/mypage.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="shop-container">
            <div class="shop-first">
                <div class="shop-name">
                    <div class="name">{{user.username}}</div>
                    <div>님</div>
                </div>
                <div>햄버거</div>
            </div>

            <div class="coin-container">
                <div class="coin">
                    <div class="coin-img">
                        <img src="/static/img/코인.png" alt="코인">
                        <div>코인</div>
                    </div>
                    <div class="price-unit">
                        <div class="price">(코인)</div>
                        <div class="unit">원</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <a class="shop-ing" href="{% url 'shopping' %}">
                <img src="{% static 'img/쇼핑하기.png' %}" alt="쇼핑">
                <div>쇼핑하기</div>
            </a>
            <a class="my-data" href="{% url 'mydata' %}">
                <img src="{% static 'img/내데이터.png' %}" alt="내 데이터">
                <div>내 데이터</div>
            </a>
            <a class="coin-list" href="{% url 'no' %}">
                <img src="{% static 'img/코인내역.png' %}" alt="코인내역">
                <div>코인내역</div>
            </a>
            <a class="shop-list" href="{% url 'no' %}">
                <img src="{% static 'img/장바구니.png' %}" alt="장바구니">
                <div>장바구니</div>
            </a>
        </div>

        <div class="ad-container">
            <img src="{% static 'img/KONKRIT.png' %}" alt="KONKRIT광고">
        </div>

        <div class="etc-container">
            <a class="logout"
                href="https://kauth.kakao.com/oauth/logout?client_id=6aae09aeeec4e992f89293eb333535be&logout_redirect_uri=http://127.0.0.1:8000/">로그아웃</a>
            <a class="withdraw" href="">회원탈퇴</a>
            <a class="empty" href=""></a>
        </div>

    </div>


</body>

</html>