<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script type="module" src="../static/js/mypage.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="shop-container">
            <div class="shop-first">
                <div class="shop-name">
                    <div class="name">(닉네임)</div>
                    <div>님</div>
                </div>
                <div class="shop-ing">
                    <img src="/쇼핑하기.png" alt="쇼핑" height="16px">
                    <div>쇼핑하기</div>
                </div>
            </div>

            <div class="coin-container">
                <div class="coin">
                    <img src="/코인.png" alt="코인" height="20px" width="20px">
                    <div>코인</div>
                </div>
                <div>(코인)</div>
                <div>원</div>
            </div>

            <div class="shop-last">
                <div class="coin-list">
                    <img src="/코인내역.png" alt="코인내역" height="16px">
                    <div>코인내역</div>
                </div>
                <div class="shop-list">
                    <img src="/장바구니.png" alt="장바구니" height="16px">
                    <div>장바구니</div>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="profile">
                <img src="/프로필.png" alt="프로필" height="100px">
                <div>프로필</div>
            </div>

            <div class="my-data">
                <img src="/내데이터.png" alt="내데이터" height="100px">
                <div>내 데이터</div>
            </div>
        </div>

        <div class="etc-container">
            <div class="logout">로그아웃</div>
            <div class="withdraw">회원탈퇴</div>
            <div class="empty"></div>
        </div>

        <div class="ad-container">
            <div class="ad-circle">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="ad"></div>
        </div>
    </div>

    </div>
</body>

</html>
