{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheel_We_Go.상점</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
    <script src="{% static 'js/shopping.js' %}" defer></script>
</head>

<body>
    <div id="wrap">
        <div>
            <a href="javascript:history.back()" class="back-button">
                &lt; 쇼핑
            </a>
            <div class="search">
                검색창 넣을거임.
            </div>
        </div>

        <div>
            <div class="banner-container">
                <div class="banner-item">광고1</div>
                <div class="banner-item">광고2</div>
                <div class="banner-item">광고3</div>
                <div class="banner-item">광고4</div>
            </div>
        </div>

        <div class="product-container">
            <div class="product-list">
                <div class="product-list-title">상품목록</div>
                <div class="bar"></div>
            </div>

            <div class="all-product">
                <div class="product">
                    <div class="img-product">
                        <img src="" alt="">
                        <div class="product-name">
                            <div>상품명</div>
                            <img src="{% static 'img/장바구니.png' %}" alt="장바구니">
                        </div>
                        <div class="price">가격</div>
                    </div>
                </div>
                <div class="product">
                    <div class="img-product">
                        <img src="" alt="">
                        <div class="product-name">
                            <div>상품명</div>
                            <img src="{% static 'img/장바구니.png' %}" alt="장바구니">
                        </div>
                        <div class="price">가격</div>
                    </div>
                </div>
                <div class="product">
                    <div class="img-product">
                        <img src="" alt="">
                        <div class="product-name">
                            <div>상품명</div>
                            <img src="{% static 'img/장바구니.png' %}" alt="장바구니">
                        </div>
                        <div class="price">가격</div>
                    </div>
                </div>
                <div class="product">
                    <div class="img-product">
                        <img src="" alt="">
                        <div class="product-name">
                            <div>상품명</div>
                            <img src="{% static 'img/장바구니.png' %}" alt="장바구니">
                        </div>
                        <div class="price">가격</div>
                    </div>
                </div>

            </div>

            <div class="company-container">
                <div class="company-list">
                    <div>입점기업</div>
                    <div class="bar"></div>
                </div>
                <div class="all-company">
                    <div class="company">
                        <img src="" alt="">
                        <div>기업명</div>
                    </div>
                    <div class="company">
                        <img src="" alt="">
                        <div>기업명</div>
                    </div>
                    <div class="company">
                        <img src="" alt="">
                        <div>기업명</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>