{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=yes">
    <title>Document</title>

    <script
        src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=l7xxed2c734830ae4364975ef11e67a76e81"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/service.css' %}">

    <script src="{% static 'js/service.js' %}" defer></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div class="inform">
                <div class="text">(데이터 개수에 따라 다른 알림문구)</div>
                <div class="data-count">
                    <div class="dc0">데이터 개수</div>
                    <div class="dc1">(데이터 개수)</div>
                    <div class="dc2">개</div>
                </div>
                <br />
                <div class="km">
                    <div>총</div>
                    <div>(km)</div>
                    <div>km</div>
                </div>
            </div>

        </div>

        <div id="map_div"></div>
        <p id="result" style="z-index:10"></p>
        <input type="text" class="text" id="searchInput" placeholder="검색어 입력">
        <div id="markerName"></div>
        <button id="searchBtn">search</button>
        <!-- <ul id="markerList"></ul> -->


</body>

</html>