
<!-- 처음 입장시 로고 + 카카오로그인 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script type="module" src="" defer></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <img class="logo" src="./static/img/로고.png" alt="Wheel We Go">

        </div>
    </div>
    {% load socialaccount %}

    <button type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'"><img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
</body>

</html>
