<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script type="module" src="" defer></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div class="logo-container">
                <img src="../static/img/로고.png" alt="Wheel We Go" class="logo">
            </div>
            <button class="kakao-login-btn">
                <div class="kakao-logo-container">
                    <img src="../static/img/카카오톡로고.png" alt="Kakao Logo" class="kakao-logo">
                </div>
                {% load socialaccount %}

                <button type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'"><img class = "kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
                카카오계정으로 로그인
            </button>
        </div>
    </div>
</body>

</html>