<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/service.css">
    <script type="module" src="/js/service.js" defer></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div class="inform">
                <div class="text">(데이터 개수에 따라 다른 알림문구)</div>
                <div class="data-count">
                    <div class="dc0">데이터 개수</div>
                    <div class="dc1">(데이터 개수)</div>
                    <div class="dc1">개</div>
                </div>
                <br />
                <div class="km">
                    <div>총</div>
                    <div>(km)</div>
                    <div>km</div>
                </div>
            </div>

        </div>
</body>

</html>