<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/search.css">
    <script type="module" src="/js/search.js" defer></script>


</head>

<body>
    <div id="wrap">
        <!-- 검색창 -->

        <div class="search">
            <input class="searchBox" type="text" placeholder="장소, 주소 검색">
            <button class="cancleBtn"></button>
        </div>

        <!-- 최근 검색어 -->
        <div>
        
        </div>

        <!-- 최근 장소 더보기 -->
        <div class="recent">
            <button class="recentBtn">최근 장소 더보기</button>
        </div>
    </div>

</body>

</html>