<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/search.css">
    <script type="module" src="../static/js/search.js" defer></script>


</head>

<body>
    <div id="wrap">
        <!-- 검색창 -->

        <div class="search">
            <input class="searchBox" type="text" placeholder="장소, 주소 검색">
            <button class="cancleBtn"></button>
        </div>

        <!-- 최근 검색어 -->
        <div>
        
        </div>

        <!-- 최근 장소 더보기 -->
        <div class="recent">
            <button class="recentBtn">최근 장소 더보기</button>
        </div>
    </div>

<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/main.js" defer></script>
    <script src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=l7xxed2c734830ae4364975ef11e67a76e81"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body onload="initTmap()">
    <div class="map" id="map_div"></div>
</body>

</html>

</body>

</html>