html, body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a, a:visited, a:active {
    color: inherit; /* 상속된 색상 사용 */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover {
    cursor: pointer;
}
  
div {
    box-sizing: border-box;
}

#map_div{
    position: fixed;
    left: 0; top: 0; z-index: -9999;
    width: 100vw;
    height: 100vh;
}

.unactive{
    display: none !important;
}


/* Global navigation bar(gnb) 부분 CSS */

.gnb{
    position: fixed;
    top: 0; left: 0;

    height: 6rem;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox {
    width: 80%;
    height: 3rem;
  
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2rem;

    border: none;
    outline: none;
    padding-left: 1.5rem;
}

.searchIcon{
    position: relative;
    right: 3rem;

    font-size: 1.5rem;
}

.sideBarBtn{
    width: 3rem;
    height: 3rem;
    
    background-color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}
.sideBar{
    position: fixed;
    left: 0; top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);
}
.sideBar_content{
    position: absolute;
    right: 0; top: 0;

    height: 100vh;
    width: 50vw;

    padding: 1rem;

    background-color: white;
}
.sideBar_profile{
    display: flex;
    align-items: center;
    
    padding: 1rem 0.5rem;

    border-bottom: 1px solid #A7A7A7;
}
.sideBar_cancle{
    display: flex;
    justify-content: flex-end;

    font-size: 2rem;
}

.profile_img{
    width: 4rem;
    height: 4rem;

    margin-right: 0.5rem;
}

.sideBarItems{
    margin-top: 0.5rem;
}

.sideBar_item{
    padding: 0.5rem;
    font-size: 1.2rem;
}



.cancleBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;

}

.cancleBtn:before,
.cancleBtn:after {
    position: absolute;
    top: 3px;
    left: 13px;
    content: ' ';
    height: 24px;
    width: 1px;
    background-color: #000;
}

.cancleBtn:before {
    transform: rotate(45deg);
}

.cancleBtn:after {
    transform: rotate(-45deg);
}


.recentBtn {
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    font-size: 12px;
    color: #A7A7A7;
}
