body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;

}

div {
    box-sizing: border-box;
}

.back-button {
    display: inline-block;
    padding: 1rem;
    border: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.line {
    border: 0.05rem solid #D9D9D9;
}

#startNameFilter {
      /* 생략 */
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #444;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;

  border: 0px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content:initial;

  /* 박스 내부 여백과 가운데 정렬 설정 */
  padding: 0.5rem 1rem; /* 위아래 여백 0.2rem, 좌우 여백 1rem */
  align-items: center; /* 세로 가운데 정렬 */


}

.li_box{
    display: flex;
}
#dateRangeFilter {
      /* 생략 */
      font-family: "Noto Sansf KR", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
    
      color: #444;
      background-color: #fff;
    
      padding: 0.6em 1.4em 0.5em 0.8em;
      margin: 0;
    
      border: 0px solid #aaa;
      border-radius: 0.5em;
      box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
      justify-content:space-around;
    
      /* 박스 내부 여백과 가운데 정렬 설정 */
      padding: 0.5rem 1rem; /* 위아래 여백 0.2rem, 좌우 여백 1rem */
      align-items: center; /* 세로 가운데 정렬 */

}

#sortOption {
      /* 생략 */
      font-family: "Noto Sansf KR", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
    
      color: #444;
      background-color: #fff;
    
      padding: 0.6em 1.4em 0.5em 0.8em;
      margin: 0;
    
      border: 0px solid #aaa;
      border-radius: 0.5em;
      box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
      justify-content:space-around;
    
      /* 박스 내부 여백과 가운데 정렬 설정 */
      padding: 0.5rem 1rem; /* 위아래 여백 0.2rem, 좌우 여백 1rem */
      align-items: center; /* 세로 가운데 정렬 */

}

.dateFilter {
    text-align: end;
    margin: 0.5rem;
    z-index: 999999;
}


.square-container {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 70%;
    font-size: 0.5rem;
    margin: 1rem;
}

.square-0 {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    background-color: #D27C00;
}

.square-1 {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    background-color: #FFC573;
}

.square-2 {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    background-color: #FF0000;
}

.square {
    width: fit-content;
}

.data-list {
    width: 100vw;
}

.circle-0 {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #FFC573;
    border-radius: 50%;
    margin-right: 1rem;
}
.circle-1 {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #FFC573;
    border-radius: 50%;
    margin-right: 1rem;
}
.circle-2 {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #FF0000;
    border-radius: 50%;
    margin-right: 1rem;
}


.route {
    display: flex;
    font-size: 1rem;
}

.circle-route-etc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    padding: 0;
    width: 100vw
}

li {
    width: 100%;
}

.etc-data img {
    width: 1.5rem;
    height: inherit;
}

.etc-data div {
    display: flex;
    align-items: center;
}

.etc-data {
    padding-bottom: 0.5rem;
}

.data-list {
    position: relative;
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
.chart-text-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .chart-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -1rem; /* 텍스트를 더 위로 올리려면 음수 값으로 조정 */
  }
  
  .chart-percent {
    font-size: 2rem;
    font-weight: bold;
  }
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chart {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}



/*
#user-info {
    display: none;
  }
  */
/* #map_div {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
} */

.all-data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    font-size: 0.5rem;
}

.data-00 {
    width: 10rem;
    height: 4rem;
}

.data-01 {
    border-left: 1px solid #d9d9d9;
    width: 10rem;
    height: 4rem;

}

.gap img {
    width: 2rem;
    height: 2rem;
}

.pass {
    border: none;
    background-color: #FFC573;
    color: #FFFFFF;
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.custom-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

.data-container {
    position: absolute;
    margin-top: 1rem;
    padding-top: 0.5rem;
    width: 100vw;
    background-color: #FFFFFF;
    border-radius: 1rem 1rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.choice-route {
    width: 100%;
    height: 9rem;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;

}

.all-route {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;

}

.route-box {
    width: 90%;
    height: 1.5rem;
    background-color: #F5F5F5;
    margin-left: 0.5rem;
    border-radius: 1rem;
}

.start,
.finish {
    padding-bottom: 1rem;
    position: relative;
    width: 70%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.start div,
.finish div {
    min-width: 2rem;
    font-size: 0.5rem;
}

.bar {
    width: 5rem;
    height: 0.5rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.gap {
    margin-top: 2rem;
    justify-content: center;

}

.complete {
    width: 100vw;
    margin-top: 2rem;
    justify-content: center;
}

.marking {
    width: 100vw;
    margin-top: 2rem;
    justify-content: center;
    margin-bottom: 2rem;

}

.marking-location {
    display: flex;

}

.location-reason {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.marking-location img {
    width: 1rem;
    height: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.marking-reason {
    /* display: flex;
    flex-direction: column; */
    width: 90%;
    height: 3rem;
    /* border: 0.1rem solid black; */
    margin: 0 auto;
}

.complete-result {
    display: flex;
    width: 90%;
    height: 3rem;
    /* border: 0.1rem solid black; */
}

.all-complete-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.gap-result {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.gap-result button {
    margin: 2rem;
}

.time {
    display: flex;
    width: 90%;
    height: 3rem;
    /* border: 0.1rem solid black; */
}

.route-data-time {
    color: #D9D9D9;
    font-size: 1rem;
}

.unactive {
    display: none !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    display: none;
    text-align: center;
    width: 100vw;
}

.active {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.prev-button,
.next-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0.5rem;
}