body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

a,
a:visited,
a:active {
    color: inherit;
    /* 상속된 색상 사용 */
    text-decoration: none;
    /* 밑줄 제거 */
}

a:hover {
    cursor: pointer;
}

div {
    box-sizing: border-box;
}


.unactive {
    display: none !important;
}

.shop-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC573;
    padding: 1rem;

}

.shop-first {
    width: 80%;
    display: flex;
    margin: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}

.shop-name {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    align-items: baseline;
}

.name {
    font-size: 2rem;
    font-weight: bold;
}

.shop-ing img {
    display: fixed;
}

.coin-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.coin {
    display: flex;
    width: 80%;
    height: 4rem;
    background-color: #FFF8EA;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.coin-img {
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

}

.price {
    font-size: 2rem;
    font-weight: bold;
}


.coin-img img {
    display: fixed;
    height: 2rem;
    margin: 0.5rem;
}

.price-unit {
    display: flex;
    width: fit-content;
    align-items: baseline;
}

.unit {
    margin: 0.5rem;
}

.main-container {
    width: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
    /* margin: 2rem; */
    justify-content: space-evenly;
}

.my-data,
.shop-ing,
.coin-list,
.shop-list {
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.my-data img,
.shop-ing img,
.coin-list img,
.shop-list img {
    display: block;
    margin-bottom: 0.5rem;
    height: 5rem;
}

.my-data div,
.shop-ing div,
.coin-list div,
.shop-list div {
    margin-top: 0.5rem;

}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.ad-container img {
    width: 90%;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.etc-container {
    display: flex;
    flex-direction: column;
}


.logout {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    color: #a9a9a9;
    padding-left: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
}


.sideBarBtn {
    width: 3rem;
    height: 3rem;

    background-color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);
}

.sideBar_content {
    position: absolute;
    right: 0;
    top: 0;

    height: 100vh;
    width: 50vw;

    padding: 1rem;

    background-color: white;
}

.sideBar_profile {
    display: flex;
    align-items: center;

    padding: 1rem 0.5rem;

    border-bottom: 1px solid #A7A7A7;
}

.sideBar_cancle {
    display: flex;
    justify-content: flex-end;

    font-size: 2rem;
}

.profile_img {
    width: 4rem;
    height: 4rem;

    margin-right: 0.5rem;
}

.sideBarItems {
    margin-top: 0.5rem;
}

.sideBar_item {
    padding: 0.5rem;
    font-size: 1.2rem;
}