body,
html {
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    max-width: 767px;
    min-height: 100vh;
    background-color: #FAFAFA;
}


.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC573;
}

.shop-first,
.coin-container,
.shop-last {
    margin: 10px;
}

.shop-name {
    display: flex;

}

.shop-ing {
    display: flex;
}

.shop-ing img {
    display: fixed;
}

.coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coin {
    display: flex;
    width: 45rem;
    height: 5rem;
    background-color: #FFF8EA;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.line {
    width: 47rem;
    height: 0.1rem;
    background-color: #FAFAFA;
}

.coin-list {
    display: flex;
}

.coin-list img {
    display: fixed;
}

.shop-list {
    display: flex;
}

.shop-ing img {
    display: fixed;
}

.my-data img {
    display: fixed;
    margin-bottom: 10px;
}

.my-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ad-container img {
    width: 45rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.etc-container {
    display: flex;
    flex-direction: column;
}

.logout {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 0.1rem solid #000000;
    border-bottom: 0.1rem solid #D9D9D9;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.withdraw,
.empty {
    margin: 0 1rem;
    border-bottom: 0.1rem solid #D9D9D9;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
