body,
html {
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    max-width: 767px;
    min-height: 100vh;
    background-color: #FAFAFA;
}


.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC573;
}


.shop-container {
    display: flex;
}

.shop-name {
    display: flex;
}

.shop-ing {
    display: flex;
}

.shop-ing img {
    display: fixed;
}

.coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coin {
    display: flex;
}

.price-unit {
    display: flex;
}

.coin-list img {
    display: fixed;
}

.unit {
    padding-left: 0.5rem;
}

.main-container {
    display: grid;
    /* 그리드 레이아웃으로 변경 */
    grid-template-columns: repeat(2, 1fr);
    /* 두 개의 열로 설정 */
    gap: 1rem;
    /* 아이템 사이의 간격 */
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

.my-data,
.shop-ing,
.coin-list,
.shop-list {
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-data img,
.shop-ing img,
.coin-list img,
.shop-list img {
    display: block;
    margin-bottom: 0.5rem;
    height: 5rem;
}

.my-data div,
.shop-ing div,
.coin-list div,
.shop-list div {
    margin-top: 0.5rem;

}

.shop-ing img {
    display: fixed;
}

.my-data img {
    display: fixed;
    margin-bottom: 10px;
}

.my-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* 세로 방향 정렬 */
}

.ad-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-circle span {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10rem 5rem;
    /* 간격을 좁히기 위해 margin 값 조정 */
}

.withdraw,
.empty {
    margin: 0 1rem;
    border-bottom: 0.1rem solid #D9D9D9;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}