body,
html {
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    max-width: 767px;
    min-height: 100vh;
    background-color: #FAFAFA;
}


.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC573;

}

.shop-first {
    display: flex;
    margin: 1rem;
}

.shop-name {
    display: flex;
    width: 42rem;
}

.shop-ing img {
    display: fixed;
}

.coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coin {
    display: flex;
    width: 45rem;
    height: 5rem;
    background-color: #FFF8EA;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.coin-img {
    display: flex;
    width: 35rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

}


.coin-img img {
    display: fixed;
    height: 2rem;
}

.price-unit {
    display: flex;
}

.unit {
    padding-left: 0.5rem;
}

.main-container {
    display: grid;
    /* 그리드 레이아웃으로 변경 */
    grid-template-columns: repeat(2, 1fr);
    /* 두 개의 열로 설정 */
    gap: 1rem;
    /* 아이템 사이의 간격 */
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

.my-data,
.shop-ing,
.coin-list,
.shop-list {
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-data img,
.shop-ing img,
.coin-list img,
.shop-list img {
    display: block;
    margin-bottom: 0.5rem;
    height: 5rem;
}

.my-data div,
.shop-ing div,
.coin-list div,
.shop-list div {
    margin-top: 0.5rem;

}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ad-container img {
    width: 45rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.etc-container {
    display: flex;
    flex-direction: column;
}

.logout {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 0.1rem solid #000000;
    border-bottom: 0.1rem solid #D9D9D9;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.withdraw,
.empty {
    margin: 0 1rem;
    border-bottom: 0.1rem solid #D9D9D9;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

/* .sideBarBtn {
    width: 3rem;
    height: 3rem;

    background-color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);
}

.sideBar_content {
    position: absolute;
    right: 0;
    top: 0;

    height: 100vh;
    width: 50vw;

    padding: 1rem;

    background-color: white;
}

.sideBar_profile {
    display: flex;
    align-items: center;

    padding: 1rem 0.5rem;

    border-bottom: 1px solid #A7A7A7;
}

.sideBar_cancle {
    display: flex;
    justify-content: flex-end;

    font-size: 2rem;
}

.profile_img {
    width: 4rem;
    height: 4rem;

    margin-right: 0.5rem;
}

.sideBarItems {
    margin-top: 0.5rem;
}

.sideBar_item {
    padding: 0.5rem;
    font-size: 1.2rem;
}

.unactive {
    display: none !important;
} */