
html, body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a, a:visited, a:active {
    color: inherit; /* 상속된 색상 사용 */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover {
    cursor: pointer;
}
  
div {
    box-sizing: border-box;
}

.search_gnb{
    background-color: white;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.5);;
    border-radius: 0 0 1.5rem 1.5rem;
}

.search_result{
    position: relative;

    width: 100vw;
    height: 100vh;

    padding-top: 7rem;

    background-color: white;
    
}

.searchBlock{
    width: 100vw;
    height: 4rem;

    padding: 1rem;

}

.placeInfo{
    position: absolute;
    bottom: 0%; z-index: 1;

    width: 100vw;
    height: 30vh;
    padding: 1rem 3rem;
    
    border-radius: 1rem 1rem 0 0;
    
    background-color: #FFFFFF;

}

.downbar{
    width: 30%;
    height: 0.5rem;

    border-radius: 1rem;

    background-color: #ccc;

    margin: 0rem auto;
}

.placeName{
    margin: 1.5rem 0;

    font-size: 2rem;
    font-weight: bold;
    color: #FFC573;
}

.naviBtn{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.naviBtnItem{
    width: 40%;
    padding: 1rem;

    border-radius: 2rem;

    font-size: 1.5rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.startPointBtn{
    border: 3px solid #FFC573;
    color : #FFC573;
}

.endPointBtn{
    background-color: #FFC573;
    color: white;
}

/*-------------------------------content2-------------------------------*/
.backgroundBlur{
    position: fixed;
    top: 0; left: 0; z-index: 9980;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.4);
}
/* 데이터 부족할 때(Low Data) */
.lowData{
    position: relative;
    top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;

    width: 60%;
    height: 55%;

    font-size: 2rem;
    font-weight: bold;
    color: black;

    background-color: white;
}

.lowDataContent{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lowDataImg{
    width: 6rem;
    height: 6rem;

    margin: 1rem 0;
}
.lowDataContentTxt{
    position: relative;

    text-align: center;

    font-size: 1rem;
    font-weight: normal;
    color: black;
}
.coinImg{
    width: 2rem;
    height: 2rem;
}
.coin1{
    padding: 0 0.5rem;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.naviDataCautionBtn1{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    margin-top: 1rem;

    font-size: 1.2rem;
    font-weight: normal;
    color: black;
}
.naviDataCautionBtn_Start1{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;
    margin-bottom: 1rem;

    border: 0;
    border-radius: 1rem;

    background-color: #D9D9D9;
    cursor: pointer;
}

.naviDataCautionBtn_Record1{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;

    border: 0;
    border-radius: 1rem;

    background-color: #FFF8EA;
    cursor: pointer;
}

/* 데이터 애매할 때(Iffy Data) */
.iffyData{
    position: relative;
    top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;

    width: 60%;
    height: 60%;

    font-size: 2rem;
    font-weight: bold;
    color: black;

    background-color: white;
}

.iffyDataContent{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iffyDataImg{
    width: 6rem;
    height: 6rem;

    margin: 1rem 0;
}
.iffyDataContentTxt{
    position: relative;

    text-align: center;

    font-size: 1rem;
    font-weight: normal;
    color: black;
}
.coin2{
    padding: 0 0.5rem;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.naviDataCautionBtn2{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    margin-top: 1rem;

    font-size: 1.2rem;
    font-weight: normal;
    color: black;
}
.naviDataCautionBtn_Start2{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;

    border: 0;
    border-radius: 1rem;
    margin-bottom: 1rem;

    background-color: #D9D9D9;
    cursor: pointer;
}

.naviDataCautionBtn_Record2{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;

    border: 0;
    border-radius: 1rem;
    margin-bottom: 1rem;

    background-color: #FFF8EA;
    cursor: pointer;
}
.naviDataCautionBtn_RecordNavi1{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;

    border: 0;
    border-radius: 1rem;

    color: white;
    background-color: #FFC573;
    cursor: pointer;
}

/* 데이터 충분할 때(Enough Data) */
.enoughData{
    position: relative;
    top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;

    width: 60%;
    height: 55%;

    font-size: 2rem;
    font-weight: bold;
    color: black;

    background-color: white;
}

.enoughDataContent{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enoughDataImg{
    width: 6rem;
    height: 6rem;

    margin: 1rem 0;
}
.enoughDataContentTxt{
    position: relative;

    text-align: center;

    font-size: 1rem;
    font-weight: normal;
    color: black;
}
.coin3{
    padding: 0 0.5rem;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.naviDataCautionBtn3{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.2rem;
    font-weight: normal;
    color: black;
}
.naviDataCautionBtn_Start3{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;

    border: 0;
    border-radius: 1rem;
    margin-bottom: 1rem;

    background-color: #D9D9D9;
    cursor: pointer;
}
.naviDataCautionBtn_RecordNavi2{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 3.5rem;

    border: 0;
    border-radius: 1rem;

    color: white;
    background-color: #FFC573;
    cursor: pointer;
}