.resultBoard{
    position: fixed;
    bottom: 0; left: 0; z-index: 9990;

    min-height: 45vh;
    width: 100vw;

    border-radius: 2rem;

    background-color: white;
}
.drag_bar{
    width: 20%;
    height: 0.4rem;

    margin: 1rem auto;

    border-radius: 1rem;
    

    background-color: #ccc;
}

.result_summary{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_summary_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    border-right: 1px solid #ccc;
}
.result_content_title{
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.data_coin{
    border-right: none;
}
.data_item{
    font-size: 1.5rem;
    font-weight: 700;
}

/* 결과 창 마킹  */
.marking_state{
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.5s ease-in-out;
}
.marking_group{
    width: 100vw;
    padding: 1rem;
}
.marking_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.number_div{
    font-size: 1.2rem;
    margin: 1rem;
}
.pin_div{
    font-size: 1.2rem;
    margin-right: 0.6rem;
}
.state_div{
    width: 80%;
    height: 2rem;

    margin: 0 0.5rem;
    
    border-bottom: 2px solid #ccc;
    
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 감춤 */
    text-overflow: ellipsis; /
}
.write_state_btn{
    padding: 0.2rem 0.5rem;
    
    background-color: #ccc;

    border-radius: 1rem;

    white-space: nowrap;

    cursor: pointer;
}
.marking_content{
    width: 100vw;
    overflow: hidden;
}
.marking_state_page{
    position: fixed;
    bottom: 1.5rem;

    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page_num_div{
    padding: 1rem;

    border-radius: 50%;
    color: #ccc;
}
.page_num_div_active{
    color: black;
}

/* marking write board CSS */
.marking_write_board{
    position: fixed;
    left: 0; top: 0; z-index: 9980;

    width: 100vw;
    height: 100vh;
    background-color: #ededed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marking_write_title{
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem 0;
}
.marking_write_content{
    width: 80vw;
    height: 50vh;

    overflow-y: scroll;

    padding: 1rem;
    border: 2px solid #ccc;

    background-color: white;
}
.marking_write_btns{
    width: 80vw;
    margin-top: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.marking_write_cancle_btn{
    color: #FFC573;
    border: 1px solid #FFC573;

    background-color: white;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
}
.marking_write_submit_btn{
    color: white;
    border: 1px solid #FFC573;
    background-color: #FFC573;

    padding: 0.8rem 1rem;
    border-radius: 2rem;

    margin-left: 1.5rem;
}