body,
html {
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    max-width: 767px;
    min-height: 100vh;
    background-color: #c9c9c9;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.inform {
    position: absolute;
    width: 200px;
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-top: 30px;
    text-align: center;
    top: 120px;
    margin: 0px auto;
}

.text {
    font-size: 8px;
}

.data-count {
    display: inline-flex;
    font-size: 8px;
}

.km {
    display: inline-flex;
    font-size: 8px;
}