body,
html {
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    /* max-width: 767px; */
    max-width: 100vw;
    min-height: 90vh;
    background-color: #c9c9c9;

}

.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    z-index: 999;
    text-align: center;
}

.inform {
    position: absolute;
/* <<<<<<< HEAD:static/css/service.css */
    width: 200px;
/* ======= */
    min-width: 200px;
/* >>>>>>> main:css/service.css */
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-top: 30px;
    text-align: center;
    top: 120px;
    margin: 0px auto;
}

.text {
    font-size: 8px;
}

.data-count {
    display: inline-flex;
/* <<<<<<< HEAD:static/css/service.css */
    font-size: 8px;
/* ======= */
}

.dc0,
.dc2 {
    font-size: 10px;
    color: #000000;
}

.dc1 {
    font-size: 12px;
    color: #FF5733;
}

.data-count div {
    margin-right: 5px;
    /* 원하는 간격 설정 */
/* >>>>>>> main:css/service.css */
}

.km {
    display: inline-flex;
    font-size: 8px;
/* <<<<<<< HEAD:static/css/service.css */
/* ======= */
}

.km div {
    margin-right: 5px;
    /* 원하는 간격 설정 */
/* >>>>>>> main:css/service.css */
}