body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

div {
    box-sizing: border-box;
}

.product img,
.company img {
    background-color: #D9D9D9;
    width: 6rem;
    height: 6rem;
}

.img-product {
    width: 6rem;
    margin: 0 auto;
    text-align: center;
}

.product-name {
    display: flex;
    width: 6rem;
    justify-content: space-between;

}

.back-button {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    border: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;

}

.product-name img {
    width: 1rem;
    height: 1rem;
    background-color: #FFFFFF;

}

.price {
    width: 6rem;
    text-align: left;
}

.all-product,
.all-company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    /* padding: 0.5rem; */
}

.product-container,
.company-container {
    width: 100vw;
    margin-top: 2rem;
}

.product,
.company {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

.product-list,
.company-list {
    font-size: 1.5;
    font-weight: bold;
    margin-left: 1rem;
}

.bar {
    width: 4rem;
    height: 0.1rem;
    margin-bottom: 1rem;
    background-color: #FFC573;
}