<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    <script type="module" src="" defer></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div class="logo-container">
                <img src="/로고.png" alt="Wheel We Go" class="logo">
            </div>
            <button class="kakao-login-btn">
                <div class="kakao-logo-container">
                    <img src="/카카오톡로고.png" alt="Kakao Logo" class="kakao-logo">
                </div>
                카카오계정으로 로그인
            </button>
        </div>
    </div>
</body>

</html>